<td class="button <%= state %> icon-ok"><a href="#"></a></td>
<td class="title <%= state %>"><%= title %></td>

<td><a href="#/<%= id %>/edit"><i class="icon-pencil"></i></td>
<td><a href="#/<%= id %>/destroy" class="destroy"><i class="icon-remove"></i></a></td>
